<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emrity.piptv">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="PIP-TV"
        android:supportsRtl="true"
        android:banner="@drawable/ic_banner"
        android:theme="@style/Theme.PIPTV">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:banner="@drawable/ic_banner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
